.banner {
  padding: 2rem 0;
  background: radial-gradient(#23a6d5, #23d5ab, #00A36C);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
  }

  p {
    font-size: 1.1rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 3rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}

.about-card {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0 2rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image img {
  width: 168px;
  height: 168px;
  border: 2px solid var(--tertiary);
  border-radius: 50%;
}

.card__links {
  display: flex;
}

.card__links ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 10px;

}

.about-card:hover {
  transform: scale(1.03);
}

.about-card:hover .card__links {
  cursor: pointer;
}

.card__text {
  font-size: 1rem;
}