.navbar {
  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    height: 80px;
    align-items: center;
  }

  .logo {
    margin-left: 10px;
    text-wrap: nowrap;
  }

  .search {
    min-width: 11rem;
    width: 400px;
    max-width: 400px;
    margin-left: 7px;

    &>.search-button {
      border-radius: 10px;
      height: 3rem;
      background-color: transparent;
      border: 2px solid var(--secondary);

      &>p {
        color: var(--secondary);
        font-size: 17px;
      }

      & svg {
        cursor: pointer;
        width: 18px;
        min-width: 18px;
        margin: 0 0.5rem;

        .search-path {
          stroke: var(--secondary);
          stroke-width: 2px;
          transition: stroke 0.5s ease;
        }
      }
    }
  }

  .logo {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: baseline;

    .feedback-button {
      display: flex;
      padding: 10px;
      border-radius: 10px;
      border: solid 1px white;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: transparent;
      min-width: 175px;
      max-width: 200px;

      p {
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
      }

    }

    .nav-link-text {
      color: currentColor;
    }
    
    ul {
      align-items: baseline;
    }

    li {
      margin-left: 1rem;
    }
  }
}


@media (max-width: 1100px) {
  .navbar {
    .nav-links {
      .nav-link-text {
        display: none;
      }
    }
    // .logo {
    //   display: none;
    // }
  }
}
