.navbar {
  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    height: 80px;
    align-items: center;
  }

  .search {
    min-width: 25rem;

    &>.search-button {
      border-radius: 10px;
      height: 3rem;
      background-color: transparent;
      border: 2px solid var(--secondary);

      &>p {
        color: var(--secondary);
      }

      & svg {
        cursor: pointer;
        width: 18px;
        min-width: 18px;
        margin: 0 0.5rem;

        .search-path {
          stroke: var(--secondary);
          stroke-width: 2px;
          transition: stroke 0.5s ease;
        }
      }
    }
  }

  .logo {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: baseline;

    .feedback-button {
      display: flex;
      padding: 10px;
      border-radius: 10px;
      border: solid 1px white;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: transparent;
    
    
      p {
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
      }
    }

    ul {
      align-items: baseline;
    }

    li {
      margin-left: 1rem;
    }
  }
}